<div class="text-center mx-12 absolute inset-x-0 bottom-48">
  <div class="text-white text-6xl font-bold mb-4">Welcome to Tallii</div>
  <div class="text-white font-light mb-8">The best pet management app for animal lovers!</div>
  <%= link_to "Join now", new_user_path, class: "block p-4 bg-white font-bold rounded-lg" %>
</div>