<style>
  input:checked + label {
    color: #00FFFF;
    font-weight: bold;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  /* Slider Track with Text */
  .slider-container {
    position: absolute; /* Change position to absolute */
    bottom: 20px; /* Position from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Centering correction */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width */
  }

  /* Hide default appearance of the slider */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent; /* Make native track transparent */
    outline: none;
    position: relative;
  }

  /* Text Background for the slider track */
  .slider::before {
    content: "(Throw the ball right again!) - - - >";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    color: #666;
    pointer-events: none;
    width: 100%;
    text-align: right;
    line-height: 10px;
    z-index: -1; /* Ensures it appears below the slider thumb */
  }

  /* Slider thumb with an image */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 48px;
    height: 48px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 42 42" fill="none"><g clip-path="url(%23clip0_111_816)"><path d="M20.9999 42C9.47505 42 0.098877 32.6238 0.098877 21.0989C0.098877 9.57393 9.47505 0.197754 20.9999 0.197754C32.5248 0.197754 41.901 9.57393 41.901 21.0989C41.901 32.6238 32.5248 42 20.9999 42Z" fill="%232ABA52"/><path d="M31.5672 21.0169C31.5672 26.4142 33.2408 31.4198 36.0953 35.5463C39.693 31.7902 41.9066 26.6984 41.9066 21.099C41.9066 15.4654 39.6653 10.3461 36.0288 6.5835C33.2146 10.6915 31.5672 15.6615 31.5672 21.0169ZM0.0927734 21.099C0.0927734 26.6984 2.30639 31.7902 5.90403 35.5463C8.75856 31.4198 10.4322 26.4142 10.4322 21.0169C10.4322 15.6615 8.78464 10.6914 5.97056 6.5835C2.33403 10.3461 0.0927734 15.4654 0.0927734 21.099Z" fill="%23B4D99A"/><path d="M33.4894 21.0987C33.4894 16.4134 34.8442 11.9369 37.3664 8.11434C36.5479 7.08453 35.6348 6.13358 34.6391 5.27393C33.511 6.87416 32.5578 8.59074 31.7958 10.3942C30.3613 13.7857 29.634 17.3872 29.634 21.0987C29.634 24.8102 30.3612 28.4117 31.7958 31.8032C32.5579 33.6067 33.5111 35.3234 34.6391 36.9236C35.6348 36.064 36.5479 35.113 37.3665 34.0832C34.8442 30.2606 33.4894 25.784 33.4894 21.0987ZM4.63363 8.11434C7.15584 11.9369 8.51059 16.4135 8.51059 21.0987C8.51059 25.784 7.15576 30.2606 4.63354 34.0832C5.45204 35.113 6.36512 36.064 7.36084 36.9236C8.48889 35.3234 9.44213 33.6067 10.2042 31.8032C11.6387 28.4117 12.3661 24.8102 12.3661 21.0987C12.3661 17.3872 11.6387 13.7857 10.2042 10.3942C9.44217 8.59075 8.48896 6.87417 7.36092 5.27393C6.3652 6.13358 5.45213 7.08453 4.63363 8.11434Z" fill="%23E5E4DF"/></g><defs><clipPath id="clip0_111_816"><rect width="42" height="42" fill="white"/></clipPath></defs></svg>') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 48px;
    height: 48px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 42 42" fill="none"><g clip-path="url(%23clip0_111_816)"><path d="M20.9999 42C9.47505 42 0.098877 32.6238 0.098877 21.0989C0.098877 9.57393 9.47505 0.197754 20.9999 0.197754C32.5248 0.197754 41.901 9.57393 41.901 21.0989C41.901 32.6238 32.5248 42 20.9999 42Z" fill="%232ABA52"/><path d="M31.5672 21.0169C31.5672 26.4142 33.2408 31.4198 36.0953 35.5463C39.693 31.7902 41.9066 26.6984 41.9066 21.099C41.9066 15.4654 39.6653 10.3461 36.0288 6.5835C33.2146 10.6915 31.5672 15.6615 31.5672 21.0169ZM0.0927734 21.099C0.0927734 26.6984 2.30639 31.7902 5.90403 35.5463C8.75856 31.4198 10.4322 26.4142 10.4322 21.0169C10.4322 15.6615 8.78464 10.6914 5.97056 6.5835C2.33403 10.3461 0.0927734 15.4654 0.0927734 21.099Z" fill="%23B4D99A"/><path d="M33.4894 21.0987C33.4894 16.4134 34.8442 11.9369 37.3664 8.11434C36.5479 7.08453 35.6348 6.13358 34.6391 5.27393C33.511 6.87416 32.5578 8.59074 31.7958 10.3942C30.3613 13.7857 29.634 17.3872 29.634 21.0987C29.634 24.8102 30.3612 28.4117 31.7958 31.8032C32.5579 33.6067 33.5111 35.3234 34.6391 36.9236C35.6348 36.064 36.5479 35.113 37.3665 34.0832C34.8442 30.2606 33.4894 25.784 33.4894 21.0987ZM4.63363 8.11434C7.15584 11.9369 8.51059 16.4135 8.51059 21.0987C8.51059 25.784 7.15576 30.2606 4.63354 34.0832C5.45204 35.113 6.36512 36.064 7.36084 36.9236C8.48889 35.3234 9.44213 33.6067 10.2042 31.8032C11.6387 28.4117 12.3661 24.8102 12.3661 21.0987C12.3661 17.3872 11.6387 13.7857 10.2042 10.3942C9.44217 8.59075 8.48896 6.87417 7.36092 5.27393C6.3652 6.13358 5.45213 7.08453 4.63363 8.11434Z" fill="%23E5E4DF"/></g><defs><clipPath id="clip0_111_816"><rect width="42" height="42" fill="white"/></clipPath></defs></svg>') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
</style>

<div class="m-2">
  <%= form_with url: update_pet_species_onboarding_path(@pet), id: "petSpeciesForm" do |f| %>
    <div class="text-center">
      <div class="text-yellow-200 text-4xl font-bold mt-12">Pet Type</div>
      <div class="text-gray-400 text-2xl mt-4">Please select an animal</div>
    </div>
    <div class="text-white text-2xl space-x-2 flex w-full mt-24">
      <div class="w-full">
        <input class="hidden" id="species_dog" type="radio" name="species" value="dog" <%= @pet.species == "dog" || @pet.species.nil? ? 'checked' : '' %>>
        <label class="flex flex-col items-center border-4 border-black cursor-pointer bg-red-400 rounded-xl" for="species_dog">
          <div class="flex justify-start w-full">
            <div class="bg-black rounded-br-xl p-4 text-red-400">Dog</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="105" height="90" viewBox="0 0 105 90" fill="none" class="h-36 w-36" stroke="currentColor">
            <path d="M63.6747 -2.28882e-05H41.3258C18.5387 -2.28882e-05 0 18.5396 0 41.3264V43.4644C0 51.1321 5.18959 57.8071 12.6241 59.6988L19.546 61.4497C19.2536 59.4663 19.2166 57.4212 19.2358 55.3416L14.0615 54.0327C9.22399 52.8017 5.84564 48.456 5.84564 43.4644V41.3264C5.84564 21.7619 21.7617 5.84584 41.3258 5.84584H63.6747C83.2384 5.84584 99.1541 21.7619 99.1541 41.3264V43.4644C99.1541 48.456 95.776 52.8017 90.9427 54.0316L88.2809 54.7049C88.0439 56.828 87.7112 58.9316 87.2216 61.0031L92.3799 59.6977C99.8103 57.8071 105 51.1321 105 43.4644V41.3264C105 18.5396 86.4616 -2.28882e-05 63.6747 -2.28882e-05Z" fill="currentColor"/>
            <path d="M53.5602 89.51H51.7676C31.9702 89.51 15.8638 73.4038 15.8638 53.6057V29.5031C15.8638 27.8885 17.1724 26.5808 18.7865 26.5808C20.4005 26.5808 21.7093 27.8885 21.7093 29.5031V53.6057C21.7093 70.1803 35.1933 83.6641 51.7676 83.6641H53.5602C70.1345 83.6641 83.6184 70.1803 83.6184 53.6057V29.5031C83.6184 27.8885 84.9272 26.5808 86.5413 26.5808C88.1553 26.5808 89.464 27.8885 89.464 29.5031V53.6057C89.464 73.4038 73.3575 89.51 53.5602 89.51Z" fill="currentColor"/>
            <path d="M36.8315 37.4354C39.8785 38.0114 41.8293 41.2281 41.1887 44.6199C40.548 48.013 37.5586 50.2963 34.5116 49.7215C31.4646 49.1455 29.5139 45.9288 30.1545 42.537C30.7951 39.144 33.7845 36.8606 36.8315 37.4354Z" fill="currentColor"/>
            <path d="M68.4954 37.4354C65.4485 38.0114 63.4978 41.2281 64.1384 44.6199C64.7789 48.013 67.7684 50.2963 70.8153 49.7215C73.8623 49.1455 75.813 45.9288 75.1724 42.537C74.532 39.144 71.5425 36.8606 68.4954 37.4354Z" fill="currentColor"/>
            <path d="M52.5001 60.346C57.2572 60.346 61.1135 61.6606 61.1135 64.2875C61.1135 67.7916 57.2572 71.2957 52.5001 71.2957C47.7429 71.2957 43.8867 67.7916 43.8867 64.2875C43.8867 61.6606 47.7429 60.346 52.5001 60.346Z" fill="currentColor"/>
          </svg>
          <div class="h-16"></div>
        </label>
      </div>
      <div class="w-full">
        <input class="hidden" id="species_cat" type="radio" name="species" value="cat" <%= @pet.species == "cat" ? 'checked' : '' %>>
        <label class="flex flex-col items-center border-4 border-black cursor-pointer bg-purple-400 rounded-3xl" for="species_cat">
          <div class="h-16"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="105" height="90" viewBox="0 0 105 90" fill="none" stroke="currentColor" class="h-36 w-36">
            <path d="M8.032 7.44984V46.5525C8.032 66.3784 26.562 82.5074 49.3393 82.5074H55.6591C78.4364 82.5074 96.968 66.3784 96.968 46.5525V7.44984L78.8598 18.4394C78.1847 18.849 77.3837 19.0682 76.5622 19.0682H75.7549C75.1994 19.0682 74.6518 18.9682 74.1435 18.7737C67.5592 16.2629 60.0733 14.937 52.4992 14.937C44.9251 14.937 37.4408 16.2629 30.8565 18.7737C30.3482 18.9682 29.799 19.0682 29.2451 19.0682H28.4378C27.6163 19.0682 26.8153 18.849 26.1402 18.4394L8.032 7.44984ZM55.6591 89.5H49.3393C22.1337 89.5 0 70.2343 0 46.5525V6.49922C0 4.07063 1.5359 1.86395 4.00971 0.740746C6.48509 -0.383827 9.4436 -0.218094 11.7317 1.17085L29.2246 11.7879C36.4179 9.27026 44.4263 7.94432 52.4992 7.94432C60.5737 7.94432 68.5821 9.27026 75.7738 11.7879L93.2683 1.17085C95.5564 -0.218094 98.5149 -0.383827 100.989 0.740746C103.463 1.86395 105 4.07063 105 6.49922V46.5525C105 70.2343 82.8663 89.5 55.6591 89.5Z" fill="currentColor"/>
            <path d="M30.0006 39.5995C34.1377 39.6242 37.4661 42.8938 37.4362 46.9031C37.4047 50.9124 34.026 54.1437 29.8904 54.119C25.7532 54.0957 22.4233 50.8261 22.4548 46.8168C22.4847 42.8061 25.8634 39.5762 30.0006 39.5995Z" fill="currentColor"/>
            <path d="M74.4298 39.5995C78.5669 39.6242 81.8953 42.8938 81.8654 46.9031C81.8339 50.9124 78.4552 54.1437 74.318 54.119C70.1809 54.0957 66.8525 50.8261 66.884 46.8168C66.9139 42.8061 70.2926 39.5762 74.4298 39.5995Z" fill="currentColor"/>
            <path d="M60.9103 57.3242C61.0897 55.3846 57.5741 54.1341 53.7375 54.1341C52.9098 54.1341 52.3747 54.1341 51.3927 54.1341C47.5561 54.1341 44.0406 55.3846 44.22 57.3242C44.2074 57.4804 44.2121 57.6393 44.2483 57.805C44.6858 59.8062 47.2414 61.6623 50.2691 62.606C50.9978 62.8334 51.783 62.9389 52.5651 62.9279C53.3472 62.9389 54.1325 62.8334 54.8611 62.606C57.8889 61.6623 60.4445 59.8062 60.8804 57.805C60.9166 57.6393 60.9213 57.4804 60.9103 57.3242Z" fill="currentColor"/>
          </svg>
          <div class="flex justify-end w-full">
            <div class="content-end bg-black text-purple-400 rounded-tl-xl p-4">Cat</div>
          </div>
        </label>
      </div>
    </div>
    <div class="slider-container mt-32 px-8">
      <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
      <div class="mt-12 flex space-x-1 mx-12">
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var slider = document.getElementById("myRange");
  var form = document.getElementById("petSpeciesForm");

  slider.oninput = function() {
    if (this.value == this.max) {
      // Submit the form when the slider reaches the max value
      Turbo.navigator.submitForm(document.getElementById('petSpeciesForm'));
    }
  }
</script>
