<style>
  input:checked + label {
    color: #00FFFF;
    font-weight: bold;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  /* Slider Track with Text */
  .slider-container {
    position: absolute; /* Change position to absolute */
    bottom: 20px; /* Position from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Centering correction */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width */
  }

  /* Hide default appearance of the slider */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent; /* Make native track transparent */
    outline: none;
    position: relative;
  }

  /* Text Background for the slider track */
  .slider::before {
    content: "(Throw the ball right again!) - - - >";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    color: #666;
    pointer-events: none;
    width: 100%;
    text-align: right;
    line-height: 10px;
    z-index: -1; /* Ensures it appears below the slider thumb */
  }

  /* Slider thumb with an image */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 96px;
    height: 96px;
    background: url('/icons/logo.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 96px;
    height: 96px;
    background: url('/icons/logo.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
</style>

<div class="m-2">
  <%= form_with url: update_pet_species_onboarding_path(@pet), id: "petSpeciesForm" do |f| %>
    <div class="text-center">
      <div class="text-yellow-200 text-4xl font-bold mt-12">Pet Type</div>
      <div class="text-gray-400 text-2xl mt-4">Please select an animal</div>
    </div>
    <div class="text-white text-2xl space-x-2 flex w-full mt-24">
      <div class="w-full">
        <input class="hidden" id="species_dog" type="radio" name="species" value="dog" <%= @pet.species == "dog" || @pet.species.nil? ? 'checked' : '' %>>
        <label class="flex flex-col items-center border-4 border-black cursor-pointer bg-red-400 rounded-xl" for="species_dog">
          <div class="flex justify-start w-full">
            <div class="bg-black rounded-br-xl p-4 text-red-400">Dog</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-36 w-36">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <div class="h-16"></div>
        </label>
      </div>
      <div class="w-full">
        <input class="hidden" id="species_cat" type="radio" name="species" value="cat" <%= @pet.species == "cat" ? 'checked' : '' %>>
        <label class="flex flex-col items-center border-4 border-black cursor-pointer bg-purple-400 rounded-3xl" for="species_cat">
          <div class="h-16"></div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-36 w-36">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <div class="flex justify-end w-full">
            <div class="content-end bg-black text-purple-400 rounded-tl-xl p-4">Cat</div>
          </div>
        </label>
      </div>
    </div>
    <div class="slider-container mt-32 px-8">
      <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
      <div class="mt-12 flex space-x-1 mx-12">
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var slider = document.getElementById("myRange");
  var form = document.getElementById("petSpeciesForm");

  slider.oninput = function() {
    if (this.value == this.max) {
      // Submit the form when the slider reaches the max value
      form.submit();
    }
  }
</script>
