<% if flash.any? { |_, msg| msg.present? } %>
  <div class="fixed top-20 left-1/2 -translate-x-1/2 z-50 flex flex-col items-center">
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <div data-controller="flash-toast" class="flex items-center bg-[#292C2D] rounded-2xl h-[50px] min-w-[291px] max-w-fit mb-2 shadow-lg">
        <% if type == "notice" || type == "success" %>
          <!-- Success icon - green circle with checkmark -->
          <div class="w-[30px] h-[30px] rounded-full bg-[#9DE6A9] flex items-center justify-center ml-[10px] flex-shrink-0">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.546 0.610598C19.8272 0.891898 19.9852 1.2733 19.9852 1.6711C19.9852 2.0688 19.8272 2.4503 19.546 2.7316L8.303 13.9746C8.1544 14.1232 7.978 14.2411 7.7839 14.3215C7.5898 14.4019 7.3817 14.4433 7.1715 14.4433C6.9614 14.4433 6.7533 14.4019 6.5591 14.3215C6.365 14.2411 6.1886 14.1232 6.04 13.9746L0.454 8.3896C0.3108 8.2512 0.1965 8.0857 0.1179 7.9027C0.0393 7.7197 -0.0021 7.5228 -0.0038 7.3237C-0.0056 7.1245 0.0324 6.927 0.1078 6.7426C0.1832 6.5583 0.2946 6.3908 0.4354 6.25C0.5763 6.1091 0.7438 5.9978 0.9281 5.9223C1.1124 5.8469 1.31 5.809 1.5091 5.8107C1.7083 5.8124 1.9051 5.8538 2.0881 5.9324C2.2711 6.011 2.4367 6.1253 2.575 6.2686L7.171 10.8646L17.424 0.610598C17.5633 0.471198 17.7287 0.360598 17.9108 0.285198C18.0928 0.209698 18.288 0.170898 18.485 0.170898C18.6821 0.170898 18.8772 0.209698 19.0593 0.285198C19.2413 0.360598 19.4067 0.471198 19.546 0.610598Z" fill="#094D16"/>
            </svg>
          </div>
        <% else %>
          <!-- Alert icon - orange circle with exclamation -->
          <div class="w-[30px] h-[30px] rounded-full bg-[#F35E0E] flex items-center justify-center ml-[10px] flex-shrink-0">
            <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.5 1L3 10H1L0.5 1H3.5ZM2 15.5C1.45 15.5 0.98 15.32 0.59 14.96C0.21 14.59 0.02 14.13 0.02 13.58C0.02 13.05 0.21 12.6 0.59 12.23C0.98 11.86 1.45 11.67 2 11.67C2.53 11.67 2.98 11.86 3.35 12.23C3.73 12.6 3.92 13.05 3.92 13.58C3.92 13.93 3.83 14.25 3.66 14.54C3.49 14.82 3.26 15.04 2.97 15.21C2.69 15.4 2.36 15.5 2 15.5Z" fill="white"/>
            </svg>
          </div>
        <% end %>
        <!-- Message text -->
        <span class="text-white text-sm font-medium px-4 flex-1 whitespace-nowrap"><%= message %></span>
        <!-- Separator line -->
        <div class="w-[1px] h-full bg-[#404547]"></div>
        <!-- Close button -->
        <button data-action="click->flash-toast#dismiss" class="px-4 h-full flex items-center justify-center hover:opacity-80 cursor-pointer">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.00006 8.39981L2.10006 13.2998C1.91672 13.4831 1.68339 13.5748 1.40006 13.5748C1.11672 13.5748 0.883393 13.4831 0.700059 13.2998C0.516726 13.1165 0.425059 12.8831 0.425059 12.5998C0.425059 12.3165 0.516726 12.0831 0.700059 11.8998L5.60006 6.99981L0.700059 2.09981C0.516726 1.91647 0.425059 1.68314 0.425059 1.39981C0.425059 1.11647 0.516726 0.883138 0.700059 0.699805C0.883393 0.516471 1.11672 0.424805 1.40006 0.424805C1.68339 0.424805 1.91672 0.516471 2.10006 0.699805L7.00006 5.59981L11.9001 0.699805C12.0834 0.516471 12.3167 0.424805 12.6001 0.424805C12.8834 0.424805 13.1167 0.516471 13.3001 0.699805C13.4834 0.883138 13.5751 1.11647 13.5751 1.39981C13.5751 1.68314 13.4834 1.91647 13.3001 2.09981L8.40006 6.99981L13.3001 11.8998C13.4834 12.0831 13.5751 12.3165 13.5751 12.5998C13.5751 12.8831 13.4834 13.1165 13.3001 13.2998C13.1167 13.4831 12.8834 13.5748 12.6001 13.5748C12.3167 13.5748 12.0834 13.4831 11.9001 13.2998L7.00006 8.39981Z" fill="white"/>
          </svg>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
