<div class="mx-4 text-white space-y-10">
  <div class="text-white text-4xl font-thin mx-2 pt-2">Your Order</div>
  
  <div class="flex w-full justify-center items-center text-center">
      <%= link_to cart_path, class: "underline" do %>
        Back to cart
      <% end %>
    </div>
</div>