<div class="fixed bottom-0 w-full p-4 text-white text-center space-y-24 px-8 pb-8">
  <div class="text-4xl font-bold">Thank you for your information</div>
  <%= button_to create_user_onboarding_path(@user), class: "w-full bg-yellow-200 text-black p-4 rounded-lg" do %>
    <div>Now it's your pet's turn!</div>
  <% end %>
  <div></div>
</div>