<div class="w-full p-4 text-white text-center space-y-8 px-8">
  <%= form_with url: update_user_email_onboarding_path(@user) do |f| %>
    <div class="space-y-4">
      <div class="flex space-x-4 items-center">
        <div class="flex space-x-2 items-center">
          <%= link_to new_user_onboarding_path do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          <% end %>
        </div>
        <div class="text-4xl">Create Account</div>
      </div>
      <div class="space-y-8">
        <div class="space-y-4">
          <div class="font-thin text-sm">(1/4 steps)</div>
          <div>Enter your email below</div>
        </div>
        <%= f.email_field :email, value: @user.email, required: true, placeholder: "Bow.wow@gmail.com", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
      </div>
      <div class="space-y-4">
        <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg" %>
      </div>
    </div>
  <% end %>
</div>