<div class="w-full p-4 text-white text-center space-y-8 px-8">
  <%= form_with url: update_user_password_onboarding_path(@user) do |f| %>
    <div class="space-y-4">
      <div class="flex space-x-4">
        <div class="flex space-x-2 items-center">
          <%= link_to user_email_onboarding_path(@user) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          <% end %>
        </div>
        <div class="text-4xl">Create Password</div>
      </div>
      <div class="space-y-8">
        <div class="space-y-4">
          <div class="font-thin text-sm">(2/4 steps)</div>
          <div>Use at least 8 characters</div>
        </div>
        <%= f.password_field :password, value: @user.password, required: true, placeholder: "Apolloisthedawg", minlength: 8, class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
      </div>
      <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg" %>
    </div>
  <% end %>
</div>